<div class="px-4 sm:px-0">
  <div class="flex items-center justify-between mb-6">
    <div>
      <h1 class="text-3xl font-bold text-gray-100">Edit Kemasan: <%= @packaging.name %></h1>
      <p class="text-gray-400 mt-2">Perbarui informasi kemasan</p>
    </div>
    <div>
      <%= link_to "Kembali", packaging_path(@packaging), class: button_classes(:outline) %>
    </div>
  </div>
  <%= render 'form', packaging: @packaging %>
</div>
